{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}
{% block page_product_detail_buy_inner %}
  {{ parent() }}
    {% if page.product.extension('contacts').elements|length > 0 %}
    <div class="visitcard">
        <div class="visitcard-text">
            <div class="title-total">
                <div class="title bg-danger"> <img style="
    width: 100px;"src="{{ asset('bundles/contact/storefront/images/wagner-logo.png') }}"
                                                   style="width:60px; height: 60px;"  alt="Wagner-Logo"></div>
                <h3 class="text-center"  >{{ page.product.extension('contacts').elements|first.firstname }} {{ page.product.extension('contacts').elements|first.lastname }}</h3>
                <hr>
                <div class="email text-center">
                    Email:<a href="mailto:{{ page.product.extension('contacts').elements|first.email }}">{{ page.product.extension('contacts').elements|first.email }}</a>
                </div>
                <div class="phone text-center">
                    <div></div>
                    <div>Tel:<a href="tel:{{ page.product.extension('contacts').elements|first.phonenumber }}">{{ page.product.extension('contacts').elements|first.phonenumber }}</a></div>
                    <div></div>
                </div></div>
        </div>
    </div>
    {% endif %}
{% endblock %}
